<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


  <connectionStrings>
    <add name="SQLServerStudentDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\source\repos\Github\SimpleCRUD_App\Database\StudentSQLServerDB.mdf;Integrated Security=True"/>
    <add name="SQLiteStudentDatabase" connectionString="Data Source=.\Database\Student.db;Version=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  
</configuration>